<ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">About</a></li>
    <li><a href="#!">Jobs</a></li>
    <li><a href="#!">Contact</a></li>
    <li class="divider"></li>
    <li><a href="#!">Report an issue</a></li>
</ul>
<nav>
    <div class="nav-wrapper">
      <a href="#" class="left brand-logo"><img src="../../../assets/img/dabo.png" alt=""></a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="sass.html">Home</a></li>
        <li><a href="badges.html">Documentation</a></li>
        <li><a href="collapsible.html">Help</a></li>
        <li><a href="collapsible.html">GitLab</a></li>
        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">More<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li><a class="waves-effect waves-light btn">Sing up</a></li>
        <li><a class="waves-effect waves-light btn">Log in</a></li>
      </ul>
    </div>
  </nav>